@{
    ViewData["Title"] = "Refund & Cancellation";
}



<div class="container marketing">

    <br />
    <div class="col-md-9">
        <h2 class="fw-bold">
            Refund & Cancellation
        </h2>


        <p class="lead">
        <p>
            In the event there is any claim for of charge back by the User for any reason whatsoever, such User shall immediately call Gaya Business service, Surat with his/ her claim details and claim refund from Gaya Business Service, Surat alone. Such refund (if any) shall be effected only by Gaya Business Service, Surat via payment gateway or by means of a demand draft or such other means as Gaya Business Service, Surat, deems appropriate. No claims for refund/ charge back shall be made by any User to the Payment Service Provider(s) and in the event such claim is made it shall not be entertained.

        </p>
        <p>

            Once the fees paid successfully, the money will not be refunded. In these Terms and Conditions, The term "Charge Back" shall mean, approved and settled Credit card or net banking purchase transaction(s) which are at any time refused, debited or charged back to merchant account (and shall also include similar debits to Payment Service Provider's accounts, if any) by the acquiring bank or credit card company for any reason what so ever, together with the bank fees, penalties and other charges incidental thereto.
        </p>
        </p>
    </div>

</div><!-- /.container -->
