@{
    ViewData["Title"] = "Contact US";
}


<div class="container marketing">

    <br />
    <div class="col-md-9">
        <h2 class="fw-bold">
            Contact US
        </h2>
        <hr />

        <p class="lead">
            <label> Email: bnisurat@gmail.com</label>
        </p>
        <p class="lead">
            <label> Mobile: 9978605090</label>
        </p>
    </div>

</div><!-- /.container -->
